capstone/.gradle/
capstone/out/
capstone/bom/build/
capstone/.sonar/
capstone/.idea/
capstone/database-service/build/
capstone/common/build/
capstone/sonar-project.properties
capstone/web-service/build/
capstone/storage-service/build/
capstone/back/build/
capstone/classes/
capstone/cache-service/build/
capstone/mail-service/build/
capstone/queue-service/build/
capstone/notification-service/build/
capstone/chatbot/build/
capstone/nlp-service/build/
capstone/build/
capstone/test.png
